html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: row;
    box-shadow: 13px 10px 39px 6px rgba(0,0,0,0.2);
}

.column1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c1-text{
    border-bottom: solid 1px #313131;
    height: 36px;
    width: 90%;
}

.divider{
    width: 1px;
    background-color: #31313192;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    
}

.column2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.c2-row1{
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
}

.stamp{
    width: 35%;
    background-image: url('./image/postcard-stamp.jpg');
    background-size: contain;
    background-position: center center;
}

.c2-row2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row2-text{
    height: 50px;
    width: 90%;
    border-bottom: solid #313131 2px;
}

/*bordi dei div*/
.border{
    border-style: solid;
    border-width: 1px;
    border-color: red;
}